body {
    font-family: Roboto, sans-serif;
}

/*Header css edits*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    padding-left: 200px;
    padding-right: 200px; 
}

.logo-text {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.links {
    display: flex;
    font-size: 18px;
    align-items: center;
    gap: 20px;
    color: #a1a6ad;
}

/*Above the fold css changes*/
.landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 100px 200px 100px 200px;
}

.hero{
    flex:1;
}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: -10px;
}

.hero-secondary {
    color: #a1a6ad;
    font-size: 18px;
}

.hero-button {
    border-style: solid;
    border-color: #3b82f6;
    padding: 5px 20px 5px 20px;
    background-color: #3b82f6;
    color: white;
    border-radius: 5px;
}

.hero-image {
    flex: 1;
    background-color: #a1a6ad;
    text-align: center;
    padding: 80px 0px 80px 0px;
}